* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fefe;
  padding: 10px;
}


.todo-app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 40px 30px 70px;
    background: #fefe;
    box-shadow: rgb(0, 0, 0);
}

.todo-app h2{
    color: #ff5566;
    align-items: center;
    margin-bottom: 20px;
}

.icon img{
    width: 5%;
    /* max-width: 400px; */
    height: auto;
    /* background-color: aqua; */
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
}

button{
    border: 0;
    outline: 0;
    padding: 16px 50px;
    background: #ff5566;
    color: #efef;
    cursor: pointer;
    font-size: 1.2em;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 200;
    padding: 12px 12px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url(unchecked-2.svg);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(check-box-unchecked-1.svg);
}